.home {
    margin-left:  15%;
    margin-right: 15%;
}
label {
    margin-left: 33%;
}
#search {
    margin-left: 1%;
    margin-top: 3%;
    border-radius: 8px;
    border-style: none;
    width: 35%;
    height: 25px;
}
.main {
    height: 120px;
    background-color:white;
    border-radius: 8px;
    margin: 4%;
}
#poster {
    float: left;
    height: 100px;
    margin: 10px;
    margin-left: 20px;
    width: 9%;
}
.vl {
    float: right;
    height:119px;
    width: 2px;
    background-color:gainsboro;
  }
  .rating {
      float: right;
      margin-top: 6%;
      margin-right: 3%;
      margin-left: 2%;
      color: gray;
      font-size: small;
  }
  .date {
      float: right;
      margin-top: 4.5%;
      font-size: smaller;
      color: gray;
      font-weight: bold;
      margin-right: 10px;
  }
  .movieName {
      float: left;
      color: gray;
      font-weight: bolder;
  }
.genreButtons {
    float: left;
    margin-top: 4%;
}
.genre {
    margin: 2px;
    border-radius: 4px;
    border-style: none;
    background-color: #ebebe0;
    color:gray;
    font-size: 12px;
}
